<!DOCTYPE html>
<html ng-app="itsGoingDown">
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--                            SCRIPT FILES                                                         -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular-resource.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.12.3/semantic.min.js"></script>
    <script src="/angular-semantic-ui/dist/angular-semantic-ui.min.js"></script>
    
    <!--                            CSS FILES                                                         -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.12.3/semantic.min.css">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body  ng-controller="AuthController">
    <header ng-controller="NavController">
      <nav class="ui teal inverted pointing menu"  ng-controller="VenueController">
          <a class="item blue" href="#" ng-class="{ active : isSelected('index')}" ng-click="selectedPage('index')">
            <i class="home icon"></i> Home
          </a>
          <a class="item" href="#" ng-click="nearMe()" ng-show="authenticated" ng-class="{ active : isSelected('nearMe')}" ng-click="selectedPage('near')">
            <i class="mail icon"></i> Near Me
          </a>
        <div class="right menu">
          <a class="item" href="#/login" ng-hide="authenticated" ng-class="{ active : isSelected('login')}" ng-click="selectedPage('login')">
            <i class="mail icon"></i> Login
          </a>
          <a class="item" href="#/register" ng-hide="authenticated" ng-class="{ active : isSelected('register')}" ng-click="selectedPage('register')">
            <i class="user icon"></i> Register
          </a>
          <a class="item" href ng-click="signout()" ng-show="authenticated">
            <i class="user icon"></i> Logout
          </a>
          <a class="item" href="#/settings" ng-show="authenticated" ng-class="{ active : isSelected('settings')}" ng-click="selectedPage('settings')">
            <i class="user icon"></i> Settings
          </a>
        </div>
      </nav>
      
      <img src="/images/aheader.jpg" alt="image of a city"/>
    </header>
    
    <section ng-view></section>
    
    <!--                            Controllers                                                         -->
    <script src="/js/app.js" type="text/javascript"></script>
    <script src="/js/services/services.js" type="text/javascript"></script>
    <script src="/js/auth.js" type="text/javascript"></script>
    <script src="/js/venue.js" type="text/javascript"></script>
    <script src="/angular-semantic-ui/src/rating/rating.js"></script>
  </body>
</html>
