body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

header img {
  position: absolute;
  z-index: -1;
  width: 100%;
  max-height: 500px;
  border-bottom: 3px solid #00B5AD;
}

nav {
  margin: 0 !important;
}

section {
  margin: 10px;  
}

article#list {
  margin: auto;
  width: 80%;
}

.ui.form {
  margin: auto;
  width: 80%;
} 

.ui.items>.item .extra {
  display: inline-block;
  width: auto;
}

.ui.items>.item .extra.content {
  display: inline-block;
  width: auto;
}

#tag {
  margin:10px !important;
}

#tagHeader {
  width:100%;
  margin:0;
  padding: 0;
}