<article ng-controller="VenueController" class="ui raised very padded text container segment">
    <h2 class="ui header">{{restaurant.name}}
      <div class="ui sub header">
        <img class="ui image small" ng-src="{{restaurant.rating_img_url_large}}"/>
      </div>
    </h2>
    
    <img id="tagHeader" src="/images/chinese-header.jpg" alt="chinese food header" />
    
    <!-- Location -->
    <div class="ui card">
      <div class="content">
        <div class="header">Address</div>
      </div>
      <div class="content">
        <div class="ui medium feed">
          <div class="event">
            <div class="content">
              <div class="summary">
                 <a>City</a> {{restaurant.location.city}}
              </div>
            </div>
          </div>
          <div class="event">
            <div class="content">
              <div class="summary">
                 <a>Address</a> {{restaurant.location.display_address[0]}} 
                 <p>{{restaurant.location.display_address[1]}}</p>
              </div>
            </div>
          </div>
          <div class="event">
            <div class="content">
              <div class="summary">
                 <a>State</a> {{restaurant.location.state_code}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="extra content">
            <label>Tags</label>
            <div ng-repeat="tag in restaurant.categories">
            <a href="#/" ng-click="searchQuery(restaurant.location.postal_code, tag[0])"><div id="tag" class="ui label teal">{{tag[0]}}</div></a>
            </div>
      </div>
    </div>
    
    <h4 class="ui horizontal divider teal header">
      <i class="write icon"></i>
      Reviews
    </h4>
    
    <article>
      <!--<div ng-if="reviews[0] == null;">-->
      <!--  <p>There are no reviews yet bet the first.</p>-->
      <!--  <div class="ui red button" ng-click="showing = !showing">Write Review</div>-->
      <!--</div>-->
      <!--<div ng-if="reviews[0] != null;">-->
      <!--  <div class="ui red button" ng-click="">Write Review</div>-->
      <!--</div>-->
      <form class="ui form" ng-submit="addReview(review, restaurant.id, userID, rating)">
        <p class="text-warning">{{error_message}}</p>
          <div class="required field">
              <div class="field">
                <label>Review</label>
                <textarea ng-model="review" placeholder="What do you think about this resturant" rows="3"></textarea>
              </div>
          </div>
          <!--<rating id="my-rating" size="large" type="star" ng-model="rating"></rating>-->

        <button class="ui button teal right floated" type="submit">Submit</button>
        <h4 class="ui horizontal divider">
        </h4>
      </form>
      
      <div class="ui feed" ng-repeat="review in reviews.reviews" ng-if="review.restaurantId == restaurant.id">
        <div class="event">
          <div class="label">
            <img src="/images/avatar.png">
          </div>
          <div class="content">
            <div class="summary">
              <a>{{review.display_name}}</a>
            <div class="date">
              {{review[$index].date_created | date: dd}}
            </div>
            </div>
            <div class="extra text">
              {{review.review}}
            </div>
            <!--<div class="meta">-->
            <!--  <a class="like" ng-click="addLike(userID)">-->
            <!--    <i class="like icon"></i> {{rev.likes}} Likes-->
            <!--  </a>-->
            <!--</div>-->
          </div>
        </div>
      </div>
    </article>
</article>