<article ng-controller="VenueController">
  <h1 class="ui header centered">It's Going Down
  <div class="ui sub header">Will you be there?</div></h1>
  <form class="ui form">
    <div class="ui action huge inverted input field">
      <input type="text" name="location" ng-model="term" placeholder="Where are you?">
      <button class="ui teal button" ng-click="query(term); showing = true">Check it Out</button>
    </div>
</form>

  <article id="list" class="ui raised very padded text container segment" ng-show="restaurants">
    <div class="ui items" ng-repeat="store in restaurants">
      <div class="item">
        <div class="image">
            <img src="{{store.image_url || store.snippet_image_url}}" alt="restaurant image" />
        </div>
        <div class="content">
            <a class="ui green right ribbon label"><i class="adjust icon"></i> Open Now!</a>
            <div class="header">
              <a href="{{ '#/biz/' + store.id}}">{{store.name}}</a>   <span class="ui orange label">{{store.rating}}</span> 
            </div>
          <div class="meta">
            <span>{{store.display_phone}}</span>
          </div>
          <div class="description">
            <p>{{store.snippet_text}}</p>
          </div>
          <div class="extra" ng-repeat="tag in store.categories">
            <div id="tag" class="ui tag label teal">{{tag[0]}}</div>
          </div>
        </div>
      </div>
    </div>
  </article>
</article>


