<article id="list" ng-controller="VenueController" class="ui raised very padded text container segment">
    {{$scope.term}}
    <div class="ui items" ng-repeat="store in restaurants">
      <div class="item">
        <div class="image">
            <div class="ui green ribbon label">
                <i class="Adjust icon"></i> Open Now!
            </div>
            <img src="{{store.snippet_image_url}}" alt="restaurant image" />
        </div>
        <div class="content">
            <a class="ui green right ribbon label"><i class="adjust icon"></i> Open Now!</a>
          <a class="header">{{store.name}} </a>
          <div class="meta">
            <span>{{store.display_phone}}</span>
          </div>
          <div class="description">
            <p>{{store.snippet_text}}</p>
          </div>
          <div class="extra" ng-repeat="tag in store.categories">
            <div id="tag" class="ui tag label teal">{{tag[0]}}</div>
          </div>
        </div>
      </div>
    </div>
</article>