  <form class="ui form" ng-submit="register()">
    <h4 class="ui dividing header">Register</h4>
    <p class="text-warning">{{error_message}}</p>
    <div class="two fields">
      <div class="required field">
        <label>Username</label>
        <div class="ui icon input">
          <input type="text" focus-me ng-model="user.username" placeholder="Username">
          <i class="user icon"></i>
        </div>
      </div>
      <div class="required field">
        <label>Password</label>
        <div class="ui icon input">
          <input type="password" ng-model="user.password" placeholder="Password">
          <i class="lock icon"></i>
        </div>
      </div>
    </div>
    <p>{{message}}</p>
    <div class="ui error message">
      <div class="header">We noticed some issues</div>
    </div>
    <input type="submit" value="Register" class="ui button teal" />
  </form>